<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <img width="180" class="about-img" src="{{ "/img/about-pic.png" | prepend: site.baseurl }}" />
                    <div class="about-text">
                      <p>
                        I’m always on the hunt for a story. A good hunter never gives up. I chase after my sources and intricately piece together the details and facts of a story. I like to uncover hidden treasures, unmask characters, and bring history alive. This is why I fell in love with storytelling. To me, writing is a beautiful talent that when exercised skillfully has the magic to expose a crevice of the world and allow extraordinary tales to pour out so that anybody can experience the reality of what is around them. Through my writing endeavors I am able to investigate every detail of something that inspires me, learn about world events, and raise awareness for causes that matter.
                      </p>
                      <p>
                        When someone places a huge amount of trust in me to capture the essence of their being -- to tell their story with pride and dignity -- it gives me purpose. I believe we each have our unique story, none is lesser than the other and each one deserves to be told and heard, because every one of us has left our own mark in the world. I want to uncover these tales so that they emerge as more than whispers of the past and become emblems of the future.
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
