<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <div class="about-text">
                      <p>
                        I’m always on the hunt for a story. A good hunter never gives up. I chase after my sources and intricately piece together the details and facts of a story. I like to uncover hidden treasures, unmask characters, and bring history alive. This is why I fell in love with storytelling. To me, writing is a beautiful talent that when exercised skillfully has the magic to expose a crevice of the world and allow extraordinary tales to pour out so that anybody can experience the reality of what is around them. Through my writing endeavors I am able to investigate every detail of something that inspires me, learn about world events, and raise awareness for causes that matter.
                      </p>
                      <p>
                        When someone places a huge amount of trust in me to capture the essence of their being -- to tell their story with pride and dignity -- it gives me purpose. I believe we each have our unique story, none is lesser than the other and each one deserves to be told and heard, because every one of us has left our own mark in the world. I want to uncover these tales so that they emerge as more than whispers of the past and become emblems of the future.
                      </p>
                      <p>
                        I started writing stories as a little girl, fiction about princesses and puppies. In high school I joined the yearbook staff and that’s when the journalism bug hit. Sparks flew and I knew that was it. From then on I was determined to get the story, whether it was about the basketball team’s latest win or an artist profile at my internship for South Florida Opulence. Now at Sarah Lawrence College I have been given the opportunity to explore different facets of writing. Through fiction workshops and nonfiction courses, I quickly discovered my passion for the art of the profile. So here I am today, waiting to catch my next story.
                      </p>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div> -->
            </div>
        </div>
    </section>
