<!-- About Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Experience</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                              <a href="http://southfloridaopulence.com/"
                                 target="_blank">
                                <img class="img-circle img-responsive" src="img/cv/sfo.png" alt="">
                              </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2012 - September 2013</h4>
                                    <h4 class="subheading">
                                      <a href="http://southfloridaopulence.com/"
                                         target="_blank">
                                        South Florida Opulence
                                      </a>
                                    </h4>
                                    <h4 class="muted subheading">Editorial Intern</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Researched and wrote articles that were published.<br />
                                      Edited Stories and Ad copy.<br />
                                      Blogged to promote the novel The Last Khan.<br />
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <a href="http://thesparkgroup.com/"
                                 target="_blank">
                                <img class="img-circle img-responsive" src="img/cv/tsg.jpg" alt="">
                              </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2015</h4>
                                    <h4 class="subheading">
                                      <a href="http://thesparkgroup.com/"
                                         target="_blank">
                                         The Spark Group
                                       </a>
                                     </h4>
                                    <h4 class="muted subheading">Social Media Intern</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Created 7 months worth of social content for clients.<br />
                                      Wrote & Managed Blog Posts.<br />
                                      Assisted in Campaign Kickoffs.<br />
                                      Worked on Twitter Outreach and Targeting.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="http://slc.edu/"
                                   target="_blank">
                                  <img class="img-circle img-responsive" src="img/cv/slc.jpg" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2013 - May 2016</h4>
                                    <h4 class="subheading">
                                      <a href="http://slc.edu/"
                                         target="_blank">
                                         Sarah Lawrence Office of College Events
                                      </a>
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Office Assistant.<br />
                                      Events Assistant.<br />
                                      Poster Manager.<br />
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="#contact">
                              <div class="timeline-image">
                                  <h4>Be Part
                                      <br>Of My
                                      <br>Story!</h4>
                              </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
